@tailwind base;
@tailwind components;
@tailwind utilities;

.cont{
    padding: 30px;
    background-color: rgb(247, 244, 240);
    border-radius: 16px;
}
.btn{
    margin:10px;
    padding: 10px 18px;
    border-radius: 16px;
    font-size: larger;
    background-color: ghostwhite;
    cursor: pointer;
    box-shadow: 10px 10px lightgrey;
}
.startBtn{
    
    padding-top: 50px;
    padding: 10px 18px;
    border-radius: 16px;
    font-size: larger;
    background-color: ghostwhite;
    cursor: pointer;
    box-shadow: 10px 10px lightgrey;
}
.headerMonth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.headerMonth h1 {
    font-size: x-large;
    margin-bottom: 8px;
    
}
.calCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    columns: 7;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.calCont H2{
    text-align: center;
}
.calItem{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 30px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;
    
   
}
.calItemOther{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    
   
}
.calItem:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    background-color: wheat;
    opacity: 0.5;
    border-radius: 30px;
    box-shadow: 10px 10px 10px lightgray;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;
   
}
.calItemToday{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 16px;
    box-shadow: 10px 10px lightgrey;
}
.calItemTodayActive{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px lightgrey;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;
}
.calItemTodayActive:active .calItemTodayActive{
    transform: translateY(-2px);
}
.activeMonth{
    color: black;
}
.inactiveMonth{
    color: rgb(168, 168, 168);
}
.monthControls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}